<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/new.css">
   <title> Template repository - Skans.dev </title> 
  

  <meta property="og:title" content="Template repository" />
  
  <meta property="og:description" content="" />
  <!-- <meta property="og:image" content="{{website_url}}{{fill image}}" /> -->

  <meta name="twitter:title" content="Template repository" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@rikhuijzer"/>

  <script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js"
    id="pirschjs" data-code="xgBPmCrfEZeOftw8k5lKWUScCZj9lmPp"></script>
</head>
<body>
    <header>
        <h1>Skans</h1>
        <nav>
            <a href="/">Home</a> /
            <a href="https://github.com/rikhuijzer/Skans.jl">GitHub</a> /
            <a href="/template">Template</a>
        </nav>
    </header>

<div class="franklin-content">
</div>
<div class="franklin-content">

<h2>Template</h2>

<p>To quickly get started, go to <a href="https://github.com/rikhuijzer/SkansTemplate">https://github.com/rikhuijzer/SkansTemplate</a> and click on &quot;Use this template&quot;.</p>
<p>This will copy the files from there and will daily check the webpages <a href="http://example.com">http://example.com</a> and <a href="https://bbc.com">https://bbc.com</a> for changes. To monitor pages of your interest, go to the file <code>.github/workflows/Skan.yml</code> and replace</p>
<pre><code class="language-julia">pages &#61; &#91;
    WebPage&#40;&quot;http://example.com&quot;&#41;,
    WebPage&#40;&quot;https://bbc.com&quot;&#41;
&#93;</code></pre>
<p>with pages of your liking.</p>
<p>For example, to check websites <code>https://a.com</code>, <code>https://b.com</code> and <code>https://c.com</code>, change it to:</p>
<pre><code class="language-julia">pages &#61; &#91;
    WebPage&#40;&quot;https://a.com&quot;&#41;,
    WebPage&#40;&quot;https://b.com&quot;&#41;,
    WebPage&#40;&quot;https://c.com&quot;&#41;
&#93;</code></pre>
<p>Don&#39;t forget to add commas.</p>
<p>To change the interval to check for changes, change the line containing <code>- cron: &#39;00 16 * * *&#39;</code>. See <a href="https://en.wikipedia.org/wiki/Cron">Wikipedia - Cron</a> for more information about how to specify intervals.</p>
<div class="page-foot">
  <div class="copyright">
    <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> Rik Huijzer. Website built with <a href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a> and the <a href="https://julialang.org">Julia programming language</a>.
    Last update: 2022-01-04.
  </div>
</div>

</div></body>
</html>
